{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block body %}
<h1> Modifier votre annonce </h1>

    <section class="section has-background-white-ter">
        {#{{ form_start(form)}}
            <button name="modifier" class="button is-primary is-fullwidth">Modifier</button>
        {{ form_end(form)}} #}
        {{ form_start(form) }}
        <div class="columns">    
            <div class="column is-half">
                {{ form_row(form.titre) }}
                {{ form_row(form.description_courte)}}
                {{ form_row(form.description_longue)}}
                {{ form_row(form.prix)}}
                {{ form_row(form.categorie)}}
            </div>
            
            <div class="column is-half">
                {#{% if form.photo.photo1 %}
                <img src="{{ dossier_images_annonces ~ form.photo.photo1 }}">
                {% endif %}#}
                {{ form_row(form.photo1) }}
                {{ form_row(form.photo2) }}
                {{ form_row(form.photo3) }}
                {{ form_row(form.photo4) }}
                {{ form_row(form.photo5) }}

                {{ form_row(form.adresse) }}
                {{ form_row(form.cp) }}
                {{ form_row(form.ville) }}
                {{ form_row(form.pays) }}
            </div>

        </div>
        {{ form_row(form.ajouter, { "label" : "Modifier", "attr": { "class" : "button is-primary is-fullwidth", 
                                              "name" : "modifier",
                                              "value" : "Modifier"} }) }}
    {{ form_end(form) }}
    </section>
{% endblock %}
