{% extends app.user ? 'menu/menu_connecte.html.twig' : "menu/visiteur.html.twig" %}

{% block title %}{% endblock %}
{% block body %}
    <main class="columns">
        <aside class="column is-one-quarter">
        <div class="row">
                <aside class="col-4">
                    <form method="POST">
                        <div>
                            <label>Catégorie</label>
                            <select name="categorie">
                                <option value="">Toutes les catégories</option>
                                {% for cat in categories %}
                                        <option value='{{ cat.id }}' {{(cat_choisie == cat.id) ? selected : ""}}>  {{ cat.titre }} </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div>
                            <label>Régions</label>
                            <select name="region">
                                <option value="">Toutes les régions</option>
                                {% for region in regions %}
                                        <option value='{{ region.ville }}' {{(region_choisie == region.ville) ? "selected" : ""}}>  {{ region.ville }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div>
                            <label>Membres</label>
                            <select name="membre">
                                <option value="">Tous les membres</option>
                                {% for m in membres %}
                                        <option value='{{ m.id }}' {{(membre_choisi == m.id) ? "selected" : ""}}>  {{ m.pseudo }} </option>
                                {% endfor %}                                
                            </select>
                        </div>

                        <div>
                            <label>Prix maximal</label>
                            <output id="prixAffiche">{{prix_max_choisi ? prix_max_choisi : 0}}</output>
                            <input type=range name="prix" id="prix" onchange="prixAffiche.innerHTML=this.value" value={{prix_max_choisi}} min=0 max=10000 step=10>10000
                            
                        </div>
                        
                        <button>Filtrer</button>
                    </form>
                </aside>
            </div>
        </aside>

        <section class="column">
            <p>{{ message }}</p>
            {% for ann in annonces %}
                 {% include "annonce/vignette.html.twig" with { "annonce": ann } %}
            {% endfor %}
        </section>
    </main>

{% endblock %}
