{% extends "admin_base.html.twig" %}
{% block nav %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <a href='{{path("home")}}'>Accueil</a>
        <a href='{{path("categorie_add")}}'>Ajouter une catégorie</a>
        <a href='{{path("membre_add")}}'>Ajouter un membre</a>
        <a href='{{path("annonce_add")}}'>Ajouter une annonce</a>
        <a href='{{path("note_add")}}'>Ajouter une note</a>
        <a href='{{path("app_logout")}}'>Se déconnecter</a>
    </nav>
{% endblock %}